<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>賣出股票計算(含扣手續費、證交稅)</title>
</head>
<body>
    <h1>填寫賣出股票信息(含扣手續費、證交稅)</h1>
    <form id="sellForm" action="/calculate_sell" method="POST">
        <label for="selling_stock_price">賣出股票價格：</label>
        <input type="number" name="selling_stock_price" id="selling_stock_price" step="0.01" required><br>

        <label for="selling_quantity">賣出股票股數：</label>
        <input type="number" name="selling_quantity" id="selling_quantity" min="1" required><br>

        <label for="discount">券商手續費折扣(請換算成數字，5折=>0.5): </label>
        <input type="number" name="discount" id="discount" step="0.01" required><br>

        <button type="submit">計算</button>
    </form>

    <div id="result"></div>

    <script>
        document.getElementById('sellForm').addEventListener('submit', function (e) {
            e.preventDefault();

            const formData = new FormData(this);

            fetch('/calculate_sell', {
                method: 'POST',
                body: formData
            })
            .then(response => response.text())
            .then(data => {
                const resultElement = document.getElementById('result');
                resultElement.textContent = data;
            })
            .catch(error => console.error('錯誤:', error));
        });
    </script>
</body>
</html>
